<div class="card">
	<div class="card-header">
		<h2>公众号文章</h2>
	</div>
	<div class="card-body card-padding">
		<div class="media" ng-repeat="item in articles.data|limitTo:10" >
	        <div class="media-body">
	            <h4><a ng-href="{{item.url}}" target="_blank" class="h4 media-heading">{{item.title}}</a></h4> 发布时间 : {{item.pubtime}}
	        </div>
	    </div>
	    <hr>
        <pagination total-items="articles.total" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="articles.per_page" max-size="10"></pagination>
	</div>
   
</div>
