<div class="card">
	<div class="card-header">
		<h2>标签</h2>
	</div>
	<div class="card-body card-padding">
		<div class="t-view b-0">
		    <span class="btn btn-success m-r-10 m-b-10" ng-repeat="tag in tags" >{{tag.name}}</span>
		</div>
		<hr>
		<div class="w-100" data-provides="fileinput">
			<textarea class="form-control m-b-20 w-100" ng-model="newTags" rows="5" placeholder="输入标签，每行一个"></textarea>
            <span class="btn btn-info m-r-10" ng-click="import()">导入</span>
        </div>
	</div>
</div>