<div class="card">
	<div class="card-header">
		<h2>标签</h2>
	</div>
	<div class="card-body card-padding">
		<div class=" b-0" ng-repeat="cate in cates">
			<h4>{{cate.name}}</h4>
			<hr>
			<div class="m-l-10">
			    <span class="color bgm-{{cate.color}} m-r-10 m-b-10 pull-left" ng-repeat="tag in cate.tags" >{{tag.name}}</span>
                 <span class="clearfix"></span>
			</div>
			<div class="clearfix"></div>
		</div>
		<hr>
		<div class="w-100" data-provides="fileinput">
			<textarea class="form-control m-b-20 w-100" ng-model="newTags" rows="5" placeholder="输入标签，每行一个"></textarea>
            <span class="btn btn-info m-r-10" ng-click="import()">导入</span>
        </div>
	</div>
</div>