<div class="card">
	<div class="card-header">
		<h2>标签</h2>
	</div>
	<div class="card-body card-padding">
		<div class="t-view b-0">
		    <ul class="tvb-stats">
		        <li class="tvbs-comments">
		        	<i class="md md-comment"></i> 120 <span class="hidden-xs">Comments</span>
		        </li>
		        <li class="tvbs-likes">
		        	<i class="md md-thumb-up"></i> 34K <span class="hidden-xs">Likes</span>
		        </li>
		        <li class="tvbs-views">
		        	<i class="md md-remove-red-eye"></i> 105K <span class="hidden-xs">Views</span>
		        </li>
		    </ul>
		</div>
	</div>
</div>