<div class="card">
    <div class="card-header">
        <h2>{{weixin.name}}</h2>
        <ul class="actions">
            <li class="">
                <a ui-sref="weixins.index" data-clear="notification">
                    <i class="md md-navigate-before"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" ng-src="img/profile-pics/{{weixin.id%8+1}}.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{weixin.name}}</h4> <p ng-bind-html="weixin.intro"></p>
                    </div>
                </div>
                <h4>选择分类</h4>
                <hr>
                <div class="t-view p-20">
				    <span class="btn btn-small btn-danger m-r-10 m-b-10" ng-repeat="tag in tagMarked" ng-click="remove($index)">{{tag.name}}<i class="md md-clear"></i></span>
				</div>
				<button type="button" class="btn btn-primary btn-block" ng-click="confirm()">确认选择并显示下一个</button>

				<div class="m-t-20 p-t-10 p-b-10">
					<span class="btn btn-success m-r-10" ng-disabled="tagMarkedIds.indexOf(tag.id) != -1" ng-repeat="tag in tags" ng-click="mark(tag)">{{tag.name}}</span>
				</div>
            </div>
            <div class="col-md-6">
            	<h4>最近文章</h4>
            	<hr>
            	<div class="media" ng-repeat="article in weixin.articles">
                    <div class="media-body">
                        <h4 class="media-heading">{{article.title}}</h4>
                        <p ng-bind-html="article.shortContent168"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
